@model IEnumerable<Mumbaidabba.Models.DabbaCategory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DabbaCategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DabbaCategoryDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DabbaCategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DabbaCategoryDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DabbaCategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DabbaCategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DabbaCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
