@model Mumbaidabba.Models.Dabbawala

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dabbawala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdProof)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdProof)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dabbawalaName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dabbawalaName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dabbawalaDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dabbawalaDesc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.dabbawalaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
