@model IEnumerable<Mumbaidabba.Models.Dabbawala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdProof)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dabbawalaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dabbawalaDesc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdProof)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dabbawalaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dabbawalaDesc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.dabbawalaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.dabbawalaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.dabbawalaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
